.checkin-view {
	padding: 5vh 5%;
	text-align: center;

	&__logo {
		max-height: 40vh;
		max-width: 50%;
	}

	h1 {
		margin-bottom: 0;
	}

	.btn, .ipt, .lbl {
		display: block;
		margin: 10px auto;
		width: 80%;
		font-size: 16px;
		line-height: 24px;
		padding: 0.7em;
	}

	.lbl {
		margin-top: 0;
	}

	.ipt {
		text-align: center;
	}

	.btn {
		line-height: 18px;
	}
}