.btn--logout {
	@extend .btn;
	width: 100%;
	background: linear-gradient(190deg, #f66, #500); 
	margin-top: 1em;
}

.btn--facebook {
	@extend .btn;
	width: 100%;
	background: linear-gradient(190deg, #66f, #005); 
	margin-top: 1em;
}