@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Bungee');

$font-quicksand: 'Quicksand', sans-serif;
$font-bungee: 'Bungee', sans-serif;

$col-text-heading: #f6f1f1;

$app-body-padding: 10px;

$brand-primary: #fb673c;

$background-fallback: #f8c942;
$gradient: linear-gradient(190deg, #f8c942, #e54040); 

$disabled-fallback: #555;
$disabled-gradient: linear-gradient(190deg, #ccc, #555); 